body {
        padding-top: 80px;
    }
#trailer .modal-dialog {
    margin: 5%;
    width: 90%;
    height: 90%

}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
#trailer-video {
    width: 100%;
    height: 100%;

}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
    width: 30%;
    height: 40%;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}
.scale-media {
    padding-bottom: 56.25%;
    position: relative;
    border: 20px solid #bb5030;
    border-radius: 10px;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: white;
}
/*my changes start here*/

.modal-content {
  height: 600px;
  border: 30px solid #bb5030;
  border-radius: 10px;
  padding: 25px;
}

.trailer-title-bar {
  height: 20%;
}

.trailer-side-bar {
  height: 80%;
  overflow: auto;
}

.lower-trailer-bar {
  height: 20%;
}

.left-column {
  padding: 20px;
}
.right-column {
  padding: 20px;
}
