html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
    padding-top: 80px;
    font-size: 16px;
    font-family: 'Averia Serif Libre', cursive;
    color: #444;
}
img {
  max-width:100%;
}

body {
  background: black url('../images/film_negative_small.jpg') center no-repeat;
  background-attachment: fixed;


}

.logo {
  position: absolute;
  top: 0;
  left:30px;
  height: 100px;

}
.navbar-fixed-top {
  background: linear-gradient(to bottom, #555555, #111111, #000000);
  height: 50px;
}



.flex-container {
  width:90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}


.movie-tile {
    margin:20px;
    margin-top: 10px;
    padding: 20px;

    min-width: 300px;
    max-width: 400px;

    flex-basis: 30%;
    flex-grow: 1;

    background-image: radial-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.0));
}

.movie-title {
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-family: 'Averia Serif Libre', cursive;
}


.movie-tile:hover {

    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;

}
.movie-tile:hover h2{
  font-weight: 550;
}

/* keeps longer titles from dropping down to the next line */
@media screen and (max-width: 1280px) {
  .movie-tile h2 {
    font-size: 0.9em;
  }
}
  @media screen and (max-width: 860px) {
    .movie-tile h2 {
      font-size: 0.8em;

    }
}





/* Start Modal content */

.modal, .modal-content {
  height: 100%;
}
#trailer .modal-dialog {
    margin: 3% auto;
    width: 96%;
    height: 96%;
}

.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}

#trailer-video {
    width: 100%;
    height: 100%;

}

.scale-media {
  height:80%;
  width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    border: 10px solid #ccc;
    border-radius: 15px;
    order: 2;
}
.scale-media iframe {
    border: none;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ccc;
}

.modal-content {
  height: 95%;
  border: 20px solid #eee;
  border-radius: 7px;
  padding: 25px;
  display: flex;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}


.trailer-title-bar {
  margin-bottom: 20px;
}
.trailer-title-bar h2 {
   font-weight: bold;
}

.lower-trailer-bar {
  height: 20%;
  width:100%;
  margin-top: 20px;
  margin-left: 10%;
  order: 3;


}

.left-column {
  width:40%;
  height: 90%;
  padding: 20px;
  overflow-x: auto;
  order:1;

}
.right-column {
    width:60%;
    height:90%;
  padding: 20px;
  order:2;

}
@media screen and (max-width: 940px) {
  .modal-content {
    flex-wrap: nowrap;
    flex-direction: column;
font-size: 0.9em;
border: 20px solid #eee;


margin: 5px;
padding: 5px;

  }
  .scale-media {
    height:90%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40%;
      position: relative;
      border: 5px solid #ccc;
      border-radius: 5px;
      order: 2;
  }
  .left-column {
    width: 100%;
    height:60%;
    font-size: 1em;
    order: 4;
    flex-basis: 100%;
    flex-grow: 1;

}
  .right-column {
    width: 100%;
    height: 40%;
    font-size: 1em;
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;


  }
  h2 {
    font-size: 1.4em;
  }
  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1em;
  }

  .tooltip-content{
    padding: 5px;
    width: 150px;
    text-align: left;
    border-radius:2px;
  }

  .inline-info {
    font-size: 1em;
    font-weight: bold;
    margin-right: 5px;
  }

}
@media screen and (max-width: 640px) {
  .scale-media {
    padding-bottom: 50%;
    width: 100%;
    }
  .right-column {
    height: 50%;
  }
  .left-column {

    height:50%;
}
}
.inline-info {
  display: inline;
  font-weight: bold;
  margin-right: 5px;
}
.tooltip-content{
  padding: 5px;
  width: 200px;
  text-align: left;
  border-radius:2px;
}
.glyphicon-question-sign {
  color: #aaa;
}
.movie-info h4 {
  font-weight: 550;
}
